* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

html {
  font-size: 16px;
}

body {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: calc(1rem + 2px);
  color: #d0d6f9;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: 'BelleFair', sans-serif;
  color: #ffffff;
  font-weight: 400;
}

h1 {
  font-size: calc(10rem - 10px); /* 150px */
}

h2 {
  font-size: 6.25rem; /* 100px */
}

h3 {
  font-size: 3.5rem; /* 56px */
}

h4 {
  font-size: 2rem; /* 32px */
  color: #979797;
}

h5 {
  font-size: 1.75rem; /* 28px */
  letter-spacing: 4.75px;
}

.sub-heading-1 {
  font-family: 'BelleFair', sans-serif;
  font-size: 1.75rem; /* 28px */
}

.sub-heading-2 {
  font-size: calc(1rem - 2px); /* 14px */
  letter-spacing: 2.35px;
}

li {
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 2.7px;
  font-size: 1rem;
}

a:hover {
  text-decoration-color: rgba(208, 214, 249, 0.5);
}

a.active,
a:hover {
  text-decoration: underline;
  text-underline-offset: 1.5rem;
  text-decoration-thickness: 0.25rem;
}

header {
  margin-top: 4.4dvh;
  margin-left: 3.8vw;
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
  align-items: center;
  padding: 0 24px;
  gap: 28px;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(12px);
  width: 50%;
  height: 4.5rem;
}

hr {
  color: #d0d6f9;
  width: 40%;
  opacity: 25%;
}

.home-wrapper {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

.home-wrapper,
.destination-wrapper,
.crew-wrapper {
  margin: 0 11.5vw;
}

.introduction {
  width: 28rem;
}

.introduction .description {
  line-height: 2rem;
}

button {
  background-color: #ffffff;
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: 'BelleFair', sans-serif;
}

button:hover {
  stroke: #979797;
  animation: glow 1.5s linear infinite alternate;
}

@keyframes glow {
  to {
    box-shadow: 0px 0px 88px 88px rgba(255, 255, 255, 10.36%);
  }
}

.title {
  margin: 2rem 0;
}

.carousel-container {
  overflow: hidden;
  display: flex;
  align-items: stretch;
}

.carousel-inner {
  display: flex;
  min-width: 50%;
}

.carousel-item {
  min-width: 100%;
  display: none;
}

.active-item {
  display: block;
}

.pagination {
  display: flex;
  margin-bottom: 2rem;
  gap: 2rem;
}

.dot {
  cursor: pointer;
}

.dot-1:hover,
.dot-1.active {
  text-underline-offset: 1rem;
}

.dot-2 {
  background-color: #979797;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}

.dot-2:hover,
.dot-2.active {
  text-decoration: none;
  background-color: white;
}

.dot-3 {
  border: 1px solid white;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  font-size: 2.5rem;
  text-align: center;
}

.dot-3:hover,
.dot-3.active {
  color: black;
  text-decoration: none;
  background-color: white;
}

.style-1 {
  gap: 10%;
  align-items: stretch;
}

.style-2 {
  align-items: center;
}

.style-3 {
  gap: 10%;
  align-items: center;
}

.destination-info h2 {
  margin: 1rem 0;
}

.destination-info hr {
  width: 100%;
  margin: 1rem 0;
}

.destination-info p {
  line-height: 2rem;
}

.distance-and-travel {
  display: flex;
  justify-content: space-between;
}
